
<div id="products">
  <h2 class="text-center">Elige los mejor para usted</h2>
  <div class="card-group container" >
      <div class="card" *ngFor="let servicio of servicios, let i=index"  data-aos="zoom-in">
      
        <img  [src]="servicio.img" class="card-img-top" alt="..." >
       
        <div class="card-body">
          <h5 class="card-title text-center">{{servicio.nombre}}</h5>
        
              <ul class="list-group">
                  <li class="list-group-item" *ngFor="let dato of servicio.datos let i=index">{{dato}}</li>
              </ul>
          
        </div>
      </div>
     
    </div>

</div>

