
<footer class="row container-fluid bgGreen text-white">
  
   <div class="col-sm-12 col-md-12">
     <nav class="nav-footer">
            
              <a class="nav-link" aria-current="page" href="#">Index</a>
         
              <a class="nav-link" href="#">Quienes Somos</a>
           
              <a class="nav-link" href="#">Servicio</a>
          
          <!--   <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
         
     </nav>
   </div>
 
</footer>

