<footer class="row">
  <div class="row principal">
    <div class="footer-title col-sm-12 col-md-4">
      <a class="navbar-brand colorGreen" href="#"> <h2>SERVIWEB</h2> </a>
    </div>
  
    <div class="col-sm-12 col-md-4">
      <nav class="nav-footer">
        <div class="row">
          <div class="col-sm-12 col-md-4">  <a class="nav-link" aria-current="page" href="#">Index</a></div>
          <div class="col-sm-12 col-md-4">  <a class="nav-link" href="#">Quienes Somos</a></div>
          <div class="col-sm-12 col-md-4"><a class="nav-link" href="#">Servicio</a></div>
        </div>
      
  
      
  
      </nav>
    </div>
  
    <div class="col-sm-12 col-md-4 social">
      <div class="row">
        <div class="col">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
        </div>
        <div class="col">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M16.5 7.5l0 .01" />
          </svg>
        </div>
        <div class="col">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
            <path d="M8 11l0 5" />
            <path d="M8 8l0 .01" />
            <path d="M12 16l0 -5" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div>
    <hr>
    Todos los derechos reservados {{year}} &copy;
  </div>
 
</footer>
