footer{
    height: 200px;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    padding:  0 20px;
}

.principal{
    align-items: center;
    margin: auto 0;
}

nav .col{
    width: 28.333333%;
    text-align: center;
}

.social .col{
    text-align: center;
}

.social svg{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}


@media (max-width: 1200px) {
    footer{
        
        overflow-x: hidden;
       
    }
  }
  
  @media (max-width: 992px) {

    footer{
        height: 300px;
        overflow-x: hidden!important;
    }

    .footer-title{ 
        margin-top: 1rem;
    }  
    .social {
        margin-top: 1rem;
    }

    nav .nav-link{
         margin-top: 1rem;
    }
   
  }
  
  @media (max-width: 768px) {
    
  }
  
  @media (max-width: 575px) {
    
  
  
   
  }
  

