
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
.navbar {
  background-color: #F2F2F2;
  --bs-gutter-x: 0
}

.navbar-brand {
  font-size: 1rem;
  margin-left: 2rem;
}



.container-fluid {
  margin: -0.51rem 0;
  padding: 1rem 0;
  border-radius: 0 1.5rem 1.5rem 0;
  width: 80%;
  background-color: #fff;

}

.navbar-nav{
  margin-right: 5rem!important;
}

.nav-link {
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000!important;
  margin-right: 5rem ;
}

.div-btn-header {
  width: 25%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.div-btn-header .btn{
  background-color: var( --gray-dark);
}

.bgBlue {
  padding-top: 1rem;
  width: 90%;
  height: 5rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  align-items: center;
}

@media (max-width: 1200px) {
  .nav-link {
    font-size: 12px;
    margin: 0;
  }

}

@media (max-width: 992px) {
  .container-fluid {
    padding: 0 24px !important;
    width: 100%;
  }

  .navbar-brand {
    font-size: 2.7rem;
  }

  .div-btn-header {
    width: 100%;
    margin: 2rem 2em 0;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .bgBlue {
    width: 100%;
    margin: auto;
  }
}
