<nav class="navbar navbar-expand-lg  navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand colorGreen" href="#"> <h1>SERVIWEB</h1> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 ms-auto">
        <li
          class="nav-item"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
        >
          <a class="nav-link" aria-current="page" [routerLink]="[ '/inicio']" >Index</a>
        </li>
        <li class="nav-item" (click)="cerrar()">
          <a class="nav-link" href="#products">Servicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#us" (click)="cerrar()">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyects" (click)="cerrar()">Proyectos</a>
        </li>
      </ul>
    </div>
  </div>
 
    <div class="div-btn-header d-grid gap-2">
      <a type="button" class="btn   btn-lg text-white " href="#form"  (click)="cerrar()">Contactanos</a>
    </div>
  
</nav>


 <app-banner></app-banner>
 <app-products></app-products>
<app-about-us/>
 <app-banner2></app-banner2>
 <app-proyects></app-proyects>
<!--  <app-banner3></app-banner3> -->
<app-banner-blog></app-banner-blog>

