<div class="bgGreen p-5">
    <div class="card-group">
        <div class="card m-2">
          <img
            src="https://images.unsplash.com/photo-1532769200180-0eb4314a75f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2057&q=80"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body m-1">
            <h5 class="card-title text-center">Agilidad</h5>
          </div>
        </div>
        <div class="card m-2">
          <img
            src="https://plus.unsplash.com/premium_photo-1661679290109-770a3e282fa9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Diseño</h5>
          </div>
        </div>
      </div>
      <div class="card-group ">
        <div class="card m-2">
          <img
            src="https://plus.unsplash.com/premium_photo-1661878265739-da90bc1af051?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1986&q=80"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-center">Seguridad</h5>
          </div>
        </div>
        <div class="card m-2">
          <img src="https://images.unsplash.com/photo-1551678843-b1dc560f1688?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title text-center">Confianza</h5>
          </div>
        </div>
      </div>
      
</div>