section{ 
   width: 100%;
    background: url('https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 800px;
    padding-top: 250px; 
}

.center{
    width: 30%;   
   
}





.text{
    background-color:rgba(255, 99, 71, 0.2);
    color: #000;
    text-align: center;
    font-size: 5rem;
    width: 60%;
    margin: 0 auto;
}

@media(max-width:768px){
    section{
        height: 400px;
        padding-top: 100px;
    }
    .text{
       
        font-size: 2rem;
    }
}


 




