<div
class="col-sm-12 col-md-4 bgDarkGray side-1"

>
<div class="row">
  <h2>Digital Marketing</h2>
  <ul>
    <li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-check"
        width="50"
        height="50"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#7bc62d"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l5 5l10 -10" />
      </svg>
      SEO
    </li>
    <li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-check"
        width="50"
        height="50"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#7bc62d"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l5 5l10 -10" />
      </svg>
      Website desing
    </li>
    <li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-check"
        width="50"
        height="50"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#7bc62d"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l5 5l10 -10" />
      </svg>
      Advertising
    </li>
    <li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-check"
        width="50"
        height="50"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#7bc62d"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l5 5l10 -10" />
      </svg>
      CONTENT MARKETING
    </li>
  </ul> 
</div>
</div>



<div class="row bg-banner-2"  >
   <div
    class="col-sm-12 col-lg-4 bgDarkGray bgDarkGray-1"
    
  >
    <div class="row">
      <h2>Digital Marketing</h2>
      <ul>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
         
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="#7bc62d"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
          SEO
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
            
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="#7bc62d"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
          Website desing
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
           
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="#7bc62d"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
          Advertising
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
        
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="#7bc62d"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
          CONTENT MARKETING
        </li>
      </ul> 
    </div>
  </div>
  <div class="col-sm-12 col-lg-4 mediun">
    
  </div>
  <div class="col-sm-12 col-lg-4 bgDarkGray bgDarkGray-2" >
    <ul>
      <li>
        <span class="colorGreen">300+</span>
        <p>Google First Page Rankings</p>
      </li>
      <li>
        <span class="colorGreen">200+</span>
        <p>Websites Build</p>
      </li>
      <li>
        <span class="colorGreen">200+</span>
        <p>Websites Build</p>
      </li>
      <li>
        <span class="colorGreen">15+</span>
        <p>Websites Build</p>
      </li>
    </ul> 
  </div> 
</div>

<div class="col-sm-12 col-md-4 bgDarkGray  side-2" >
  <ul>
    <li>
      <span class="colorGreen">300+</span>
      <p>Google First Page Rankings</p>
    </li>
    <li>
      <span class="colorGreen">200+</span>
      <p>Websites Build</p>
    </li>
    <li>
      <span class="colorGreen">200+</span>
      <p>Websites Build</p>
    </li>
    <li>
      <span class="colorGreen">15+</span>
      <p>Websites Build</p>
    </li>
  </ul> 
</div> 
