<div class="col-sm-12 col-md-4 bgDarkGray side-1" id="banner2">
  <div class="row">
    <h2>Expertos en </h2>
    <ul>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-check"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="#7bc62d"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l5 5l10 -10" />
        </svg>
        Wordpress
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-check"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="#7bc62d"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l5 5l10 -10" />
        </svg>
        SEO
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-check"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="#7bc62d"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l5 5l10 -10" />
        </svg>
      Alojamiento Web
      </li>
    <!--   <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-check"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="#7bc62d"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l5 5l10 -10" />
        </svg>
        CONTENT MARKETING
      </li> -->
    </ul>
  </div>
</div>

<div class="row bg-banner-2">
  <div class="col-sm-12 col-lg-6 bgDarkGray bgDarkGray-1">
    <div class="row">
      <h2>Expertos en</h2>
      <ul>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="#7bc62d"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
          Wordpress
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="#7bc62d"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
          SEO
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="#7bc62d"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
          Alojamiento web
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-check"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="#7bc62d"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
          Asesoria personalizada
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-12 col-lg-6 bgDarkGray bgDarkGray-2">
    <ul>
      <li>
        <span class="colorGreen"></span>
        <p>10 Años de Experiencia</p>
      </li>
      <li>
        <span class="colorGreen"></span>
        <p>Equipo Especializado</p>
      </li>
      <li>
        <span class="colorGreen"></span>
        <p>Referencias Comerciales</p>
      </li>
      <li>
        <span class="colorGreen"></span>
        <p>Ingenieros</p>
      </li>
      <li>
        <span class="colorGreen"></span>
        <p>Programadores</p>
      </li>
      <li>
        <span class="colorGreen"></span>
        <p>Diseñadores</p>
      </li>
    </ul>
  </div>
</div>

<div class="col-sm-12 col-md-4 bgDarkGray side-2">
  <ul>
    <li>
      <span class="colorGreen"></span>
      <p>10 Años de Experiencia</p>
    </li>
    <li>
      <span class="colorGreen"></span>
      <p>Equipo Especializado</p>
    </li>
    <li>
      <span class="colorGreen"></span>
      <p>Referencias Comerciales</p>
    </li>
    <li>
      <span class="colorGreen"></span>
      <p>Ingenieros</p>
    </li>
    <li>
      <span class="colorGreen"></span>
      <p>Programadores</p>
    </li>
    <li>
      <span class="colorGreen"></span>
      <p>Diseñadores</p>
    </li>
  </ul>
</div>
