<div id="us" class="row mt-5">
  <div class="col-sm-12 col-lg-6 img-us" data-aos="fade-right"></div>
  <div class="col-sm-12 col-lg-6 content-us">
    <div class="row">
      <div class="">
        <h2>Nuestra Equipo</h2>
      </div>
      <div class="">
        <p class="txt-us">
          Nuestro equipo de expertos tiene una amplia experiencia en el
          desarrollo de sitios web y aplicaciones web de alta calidad. Contamos
          con más de 10 años de experiencia en la industria y hemos trabajado
          con una amplia gama de clientes, desde pequeñas empresas hasta grandes
          corporaciones. Nuestro equipo está formado por profesionales altamente
          cualificados con una sólida formación académica y experiencia
          práctica. Estamos constantemente aprendiendo y mejorando nuestras
          habilidades para brindar a nuestros clientes los mejores servicios
          posibles.
        </p>
      </div>
    </div>
  </div>
</div>
