
#us{
    color:aliceblue;
    width: 100%;
}

.img-us{
   width: 50%;
}

.img-us img{
    width: 100%;
    margin: 0;
}

.txt-us{
    margin: 3rem 2rem; 

}

@media(max-width:768px){
    .img-us{
       width: 80%;
       margin: 1rem auto;
     }
}