.notFoud{
    height:100vh;
    background-position: center;
    width: 100%;
    background: rgb(8,28,34);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

img{
    width: 50%;
}

h2{
    color: #fff;
}

.burbuja{
    
    border-radius: 50%;
    background-color: #fff;
    opacity: .3;
    position: absolute;
    bottom: 0;
   
    animation: burbujas  linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
}

.burbuja:nth-child(3){
    width: 125px;
    height: 125px;
    left: 15%;
    animation-duration: 5s;
}

.burbuja:nth-child(4){
    width: 80px;
    height: 80px;
    left: 40%;
    animation-duration: 4s;
}

.burbuja:nth-child(5){
    width: 10px;
    height: 10px;
    left: 45%;
    animation-duration: 3s;
}

.burbuja:nth-child(6){
    width: 15px;
    height: 15px;
    left: 48%;
    animation-duration: 5s;
}

.burbuja:nth-child(5){
    width: 75px;
    height: 75px;
    left: 55%;
    animation-duration: 3s;
}

.burbuja:nth-child(6){
    width: 90px;
    height: 90px;
    left: 65%;
    animation-duration: 6s;
}

.burbuja:nth-child(7){
    width: 5px;
    height: 5px;
    left: 68%;
    animation-duration: 3s;
}

.burbuja:nth-child(8){
    width: 95px;
    height: 95px;
    left: 78%;
    animation-duration: 3s;
}

.burbuja:nth-child(9){
    width: 10px;
    height: 10px;
    left: 85%;
    animation-duration: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 95%;
    animation-duration: 3s;
}

@keyframes burbujas {
    0%{
        bottom: 0;
        opacity: 0;
    }

    30%{
        transform: translateX(30px);
    }

    50%{
    
        opacity: .4;
    }

    100%{
        bottom: 100vh;
        opacity: 0;
    }

    
    
}