.banner {
  background: url("https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  --bs-gutter-x: 1;
 
 
}
.bgDarkGray{
  display: flex;
  border-radius: 0 0 15rem 0;
  height: 770px;
  align-items: center;
  justify-content: center; 
}

.banner-logo img {
  max-width: 100%;
  height: 400px;
  margin-left: 12rem;
}

.p {
  margin-top: -5rem;
  padding: 0 5rem;
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}

.btn {
  margin-left: 4rem;
  width: 30%;
  height: 50px;
}

@media (max-width: 1200px) {
  .banner-logo img {
    height: 400px;
    margin-left: 6rem;
  }
}

@media (max-width: 992px) {
  .banner {
    background-image: none;
  }

  .bgBlueGreen {
    margin: 0;
    border-radius: 0 ;
  }

  .banner-logo img {
    margin-left: 10rem;
  }

  .bgBlueGreen {
   
    height: 765px;
   
  }

 
}

@media (max-width: 768px) {
  .banner-logo img {
  
    margin-left: 8rem;
  }
}

@media (max-width: 575px) {
  


  .banner-logo img {
    margin-left: 1rem;
   
  }
}
