<div class="row banner" >
  <div class="col-sm-12 col-lg-6 bgBlueGreen" >
    <div class="row">
        <div class="banner-logo" data-aos="fade-right"  data-aos-duration="3000">
           <img src="../../../assets/img/4866369.png" alt="" class="figure-img img-fluid rounded">
        </div>
        <div class="p" data-aos="fade-right"  data-aos-duration="3000">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum diam commodo ornare ultricies. Vestibulum blandit libero nibh.</p>
        </div>
        <div class="btn-banner" data-aos="fade-right"  data-aos-duration="3000">
          <button class="btn bgGreen">Empecemos</button>
        </div>
    </div>
  </div>
  <div class="col-lg-6 no-show">
    
  </div>
</div>
