



section{
     margin: 1rem 0;
    --bs-gutter-x: 1;
}





  .swiper {
  
    height: 100%;
  }



  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
  } 

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  

 
  .card{
    min-height: 450px;
    border: none;
  }

  .card img{
    height:400px;
    width: 100%;
  }

  .card h5{
    margin: 10px 10px 0 10px;
    text-align: center;
   
  }



  .cel{
    display: none;
  }

  .blog-title{
    
    padding-top: 35px!important;
    padding-bottom: 16px!important;
    margin-bottom: 30px!important;
    margin: 0 auto;
    width: 69%;
    color: #fff;
    text-align: center;
}

.blog-title h2{
  font-size: 50px;
}


  @media (max-width: 1200px) {
   
  }
  
  @media (max-width: 992px) {
 
    .pc{
      display: none;
    }

    .cel{
      display: block;
    }
  
    .card img{
      width: 80%;
      margin: 0 auto;
    }

    .blog-title{
      font-size: 1px!important;
    }

    .blog-title img{
      display: none;
    }
  }
  
  @media (max-width: 768px) {
   
  }
  
  @media (max-width: 575px) {
    
  
   
   
  }
  
 