

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');


:root {
    --secondary-color: #F2F2F2;
    --blueMidnight:#000080;
    --blueSecondary:#0058b7;
    --white: #fff;
    --green:#4CAF50;
    --darkgreen:#00761a;
  }

  .colorGreen{
    color: var(--green)!important;
  }

  .bgGray{
    background: var(--secondary-color);
  }
  .bgBlue{
    background: var(--blueMidnight)!important;
  }

  .bgBlue-S{
    background-color: var(--blueSecondary);
  }

  .bgGreen{
    background-color: var(--darkgreen);
  }

  html {
    scroll-behavior: smooth;
  }

  body{
    font-family: 'Roboto', sans-serif!important;
    background-color: var(--secondary-color)!important;
  }




  


