

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');


:root {
    --gray-ligth: #c2c5d2;
    --gray-dark:#505c7c;
    --NightMarket:#0092ff;
    --blueGreen:#4b88ac;
    --green:#5ee5d9;
  }

  .bgGreen{
    background: var(--green)!important;
  }

  .bgGray{
    background: var(--gray-ligth);
  }

  .bgDarkGray{
    background: var(--gray-dark);
  }

  .bgBlue{
    background: var(--NightMarket)!important;
  }



  .bgGreen{
    background-color: var(--darkgreen);
  }

  .colorGreen{
    color: var(--green);
  }

  html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
  }

  html {
    scroll-behavior: smooth;
    --bs-gutter-x: 0rem!important;
  
  }

  body{
    font-family: 'Roboto', sans-serif!important;
    background-color: var(--secondary-color)!important;
    overflow-x: hidden;
    --bs-gutter-x: 0rem!important;
  }






  


