
  div.uno{
    background-color: red;
  }

  div.dos{
    background-color: blue;
  }
     
    form{
        width: 80%;
        margin: 0 auto;
        padding-top: 100px;
      /*   overflow-x: hidden;    */
    }

    form input{
        font-size: 2rem;
       
    }

    form textarea{
        height: 600px;
      
    }

  .bgDarkGray{
       
        border-radius: 10rem 0 0 0;
        margin-top: -200px;
        color: #fff;
        display: flex;
        align-items: center!important;
       
    } 

    .bgDarkGray h5 {
       margin: 1rem;
       text-align: center;
       overflow-x: hidden;   
    }

    .bgDarkGray img{
        height: 50px;
        margin-left: 100px;
        overflow-x: hidden;   
    }


    .msmRobot{
        background-color: var(--gray-dark);
        color: #fff;
    }
     


    @media(max-width:1200px){ 
      
        

    } 
    
     
     
    
    @media(max-width:992px){ 

        .contact{
              overflow-x: hidden!important; 
          
          }

        .bgDarkGray{
            border-radius:0;
            margin-top: 0;
            padding-top: 100px!important;
            text-align: center;
          
        }

        .bgDarkGray h5 {
            margin: 2rem ;
        }
    
        .bgDarkGray img{
            height: 20px;
            margin-left: 1rem;
        }
    
    } 
    
     
     
    
    @media(max-width:768px){ 
    
    } 
    
     
     
    
    @media(max-width:575px){ 
    
          .bgDarkGray h5 {
            margin: 2rem 0;
        }
    
        .bgDarkGray img{
            height: 20px;
            margin: 2rem 0;
        }
    
    } 